<!DOCTYPE html>
<html>
<head>
  <title>EtherApp</title>
  <%= stylesheet_link_tag 'application', params[:controller], media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "devise/menu/nav_items" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <%= javascript_include_tag 'application', params[:controller] %>

</body>
</html>
